<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Book</title>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css" />
	</head>
	<body>
		<center>
		<h1 id="head">Recipe Book</h1>
		</center>
		<div>
			<form method="post">
				<select name="food">
					<option value="recipe1">Lemonde</option> 
					<option value="recipe2">Naan</option> 
					<option value="recipe3">Alfredo Sauce</option>
				</select>
				<br /><br />
				<input id="colorchange" type="submit" value="Load" />
			</form>
		</div>
	</body>
</html>